.board-container {
  display: flex;
  flex-wrap: wrap;
  height: 100%;
  width: 100%;
}

.board-card{
  height: 50%;
  width: 20%;
  margin-top: 20px;
  margin-left: 20px;
}

.header {
  text-align: center;
}

.board-title {
  display: flex;
  width: 100%;
  background: #626262;
  height: 5%;
  color: white;
}

.text {
  margin-left: 10px;
  padding-top: 10px;
}

.expansion {
  margin-top: 20px;
}

.title {
  padding-top: 10px;
}

.add-list {
  margin-left: 5px;
  margin-top: 5px;
}

.card-content {
  margin-top: 20px;
  width: 92%;
}

.divider {
  padding-bottom: 20px;
}

.add {
  color: white;
  background: #3d5afe;
}
