<div class="board-title" *ngIf="board">
  <h1 class="text">{{board.title}}</h1>
  <button *ngIf="this.lists.length !== 5" mat-icon-button class="add-list" (click)="addListDialog()">
    <mat-icon class="add-icon" matTooltip="click here to add a list">note_add</mat-icon>
  </button>
</div>
<div class="no-lists" *ngIf="lists.length === 0">
    <h1>{{this.message}}</h1>
  </div>
  <div class="board-container" *ngIf="lists.length !== 0" cdkDropListGroup>
    <mat-card class="board-card" *ngFor="let list of lists">
      <mat-card-content>
      <h3 class="header">
        {{list.title}}
      </h3>
      <mat-divider class="divider"></mat-divider>
      <div
        cdkDropList
        #hasCardsList="cdkDropList"
        id = {{list.id}}
        [cdkDropListData]="list.cards"
        class="example-list"
        (cdkDropListDropped)="dropItem($event)"
        [cdkDropListConnectedTo]="getConnectedList()"
        >
        <mat-card class="card-content" *ngFor="let card of list.cards" cdkDrag [cdkDragData]="card" (dblclick)="cardDialog(card)">
          <mat-card-content>
            <p class="cards">
             {{card.order_number}}-{{card.description}}
            </p>
            <div class="preview" *cdkDragPreview>
              <mat-card>
                {{card.description}}
              </mat-card>
            </div>
          </mat-card-content>
        </mat-card>
      </div>

<div class="expansion">
  <mat-accordion class="add-card-expansion" >
    <mat-expansion-panel hideToggle class="panel"(opened)="panelOpenState = true"
      (closed)="panelOpenState = false">
      <mat-expansion-panel-header class="header" #panel>
        <button mat-icon-button class="add-card" >
           <mat-icon>add</mat-icon>
          </button>
          <mat-panel-title class="title">
            <p>Add a card</p>
          </mat-panel-title>
        </mat-expansion-panel-header>
        <mat-form-field>
          <mat-label>add description here</mat-label>
          <textarea matInput
          name="description"
          type="text"
          class="descritpion"
          appearance="fill"
          aria-describedby="description"
          [(ngModel)]="newCard.description"
          cdkTextareaAutosize
          #autosize="cdkTextareaAutosize"
          cdkAutosizeMinRows="1"
          cdkAutosizeMaxRows="3">
        </textarea>
      </mat-form-field>
      <div class="buttons">
        <mat-card-actions>
          <button mat-raised-button class="add" (click)="createCard(list.id)">add card</button>
          <button mat-icon-button (click)="panel._toggle()"><mat-icon>close</mat-icon></button>
        </mat-card-actions>
      </div>
    </mat-expansion-panel>
  </mat-accordion>
</div>


