.toolbar {
  display: flex;
  justify-content: space-between;
  height: 5%;
  background: #3d5afe;
  padding-left: 5px;
  margin-left: 0;
  margin-right: 0;
}

.buttons {
  display: flex;
  justify-content: start;
}

.home {
  -webkit-filter: brightness(100%);
  background: #627aff;
  background-size: 100%;
  border-radius: 5px;
  text-align: center;
  &:hover{
      -webkit-filter: brightness(90%);
      cursor: pointer;
    }
  }

.boards{
  -webkit-filter: brightness(100%);
  background:#627aff;
  margin-left: 2px;
  text-align: center;
  border-radius: 5px;

  &:hover{
    -webkit-filter: brightness(90%);
    cursor: pointer;
  }
}

.right-content{
  display: flex;
  justify-content: flex-end;
}

.sign-in{
  border-radius: 5px;
  background:#627aff;
}

.sign-out{
  border-radius: 5px;
  background:#627aff;
}

