.toolbar {
  height: 4.6%;
  background: #3d5afe;
  padding-left: 5px;
}

.buttons {
  display: flex;
  justify-content: start;
}

.home {
  -webkit-filter: brightness(100%);
  background: #627aff;
  background-size: 100%;
  border-radius: 5px;
  text-align: center;
  &:hover{
      -webkit-filter: brightness(90%);
      cursor: pointer;
    }
  }

.boards{
  -webkit-filter: brightness(100%);
  background:#627aff;
  margin-left: 2px;
  text-align: center;
  border-radius: 5px;

  &:hover{
    -webkit-filter: brightness(90%);
    cursor: pointer;
  }
}

